# Benzín Brno - Globus - Natural
Url: <https://www.globus.cz/brno/cerpaci-stanice-a-myci-linka.html>

In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

# requests - nacte stranku 
url = r'https://www.globus.cz/brno/cerpaci-stanice-a-myci-linka.html'
url = r'https://bit.ly/3oBvorr'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36'}
r = requests.get(url, headers)
# r.content
# BeautifulSoup - ted nepotrebuji neni JavaScript 
# soup = BeautifulSoup(r.content, 'html.parser')

In [16]:
# pd najde tabulky 
# table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', match='Election results from statewide races')
table = pd.read_html(r.content) 
print(f'Total tables: {len(table)}')

Total tables: 6

In [17]:
# tabulek je 6, zajima me c. 2
table[1]

                       0   1     2
0               Drive 95 NaN  3380
1           Drive Diesel NaN  3220
2  Extra Drive Diesel  i NaN  3320
3      Extra Drive 95  i NaN  3480

In [18]:
df = table[1]
type(df)

pandas.core.frame.DataFrame

In [19]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       0 non-null      float64
 2   2       4 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes

                       0   1     2
0               Drive 95 NaN  3380
1           Drive Diesel NaN  3220
2  Extra Drive Diesel  i NaN  3320
3      Extra Drive 95  i NaN  3480

In [20]:
# adding column name to the respective columns - https://bit.ly/3oxfuhN
df.columns =['Name', 'smazat', 'Cena']

In [21]:
# smazani sloupce - https://bit.ly/3oBNYjk
# old syntax 
# df = df.drop('smazat', 1) # 

# smazani sloupce - https://bit.ly/3oBNYjk
del df['smazat']

In [22]:
df['Cena']

0    3380
1    3220
2    3320
3    3480
Name: Cena, dtype: int64

In [23]:
# Cena zmena typu na float - https://bit.ly/3Bi79SL
df['Cena'] = df['Cena'].astype('float64')

In [24]:
# Prepocitani df tj. / 100 
df['Cena'] =  (df['Cena'] / 100)
df['Cena']

0    33.8
1    32.2
2    33.2
3    34.8
Name: Cena, dtype: float64

In [25]:
# How to add a trailing zeros to a pandas dataframe column? - https://bit.ly/3D5zwUO
df['Cena'] =  df['Cena'].map('{:.2f}'.format)
df['Cena']

0    33.80
1    32.20
2    33.20
3    34.80
Name: Cena, dtype: object

In [26]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Cena    4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

                    Name   Cena
0               Drive 95  33.80
1           Drive Diesel  32.20
2  Extra Drive Diesel  i  33.20
3      Extra Drive 95  i  34.80

In [27]:
# LookUp - nalezeni hodnoty Key - https://bit.ly/3DuT59p
Key = 'Drive 95'
Radek = df.loc[df['Name'] == Key]
# How to get a value from a Pandas DataFrame and not the index and object type - https://bit.ly/3BhmuDc
Cena =  Radek['Cena'].values[0]
print('Cena:',type (Cena), Cena)

Cena: <class 'str'> 33.80

In [28]:
# Vysledek 
print('Cena paliva -', Key, '- je:', Cena )

Cena paliva - Drive 95 - je: 33.80

## End.
Moje poznámky - Notes 


VSCode: Jupyter won't export as Python script - https://bit.ly/3iDoH4B
  pip install nbconvert
  pip install pandoc
  pip install pyppeteer